h1{
    text-align: center;
}

.about input{
    width: 400px;
    height: 30px;
    margin-top: 10px;
}

.about label{
    font-size: 20px;
}

.human-gender input{
    font-size: 50px;
}

.about2 input{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}


.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.form-button button{
    width: 100px;
    height: 40px;
    background-color: rgb(109, 109, 255);
}

